/Rack
/Rack.exe
/Rack.res
/libRack.a
/autosave.json
/settings.json
/build
*.vcv
/patches
/design
.DS_Store
dep/speexdsp_depre/win32/speex.iss
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/unsuccessfulbuild
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/libspeexdsp.lastbuildstate
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/Lib.command.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/Lib-link.write.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/Lib-link.read.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/CL.write.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/CL.read.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.tlog/CL.command.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/x64/Release/libspeexdsp.log
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp_dynamic.vcxproj.filters
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp_dynamic.vcxproj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp_dynamic.dsp
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/smallft.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/scal.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/resample.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/preprocess.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/mdf.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/libspeexdsp.lastbuildstate
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/Lib.command.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/Lib-link.write.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/Lib-link.read.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/CL.write.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/CL.read.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.tlog/CL.command.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.pdb
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/libspeexdsp.log
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/kiss_fftr.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/kiss_fft.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/jitter.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/filterbank.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/fftwrap.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp___Win32_Debug/buffer.obj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp.vcxproj.user
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp.vcxproj.filters
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp.vcxproj
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp.sln
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp.dsw
dep/speexdsp_depre/win32/libspeexdsp/libspeexdsp.dsp
dep/speexdsp_depre/win32/libspeexdsp/UpgradeLog.htm
dep/speexdsp_depre/win32/libspeexdsp/Release/smallft.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/scal.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/resample.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/preprocess.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/mdf.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/libspeexdsp.lastbuildstate
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/Lib.command.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/Lib-link.write.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/Lib-link.read.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/CL.write.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/CL.read.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.tlog/CL.command.1.tlog
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.pdb
dep/speexdsp_depre/win32/libspeexdsp/Release/libspeexdsp.log
dep/speexdsp_depre/win32/libspeexdsp/Release/kiss_fftr.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/kiss_fft.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/jitter.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/filterbank.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/fftwrap.obj
dep/speexdsp_depre/win32/libspeexdsp/Release/buffer.obj
dep/speexdsp_depre/win32/libspeexdsp/Makefile.am
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/e5fccb5445a440c7/BUFFER.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/bba2b82a1b1ff872/MDF.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/abc2469b1b4fff3d/BUFFER.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/a9a4589aff426389/JITTER.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/566735e7d7b73d38/SMALLFT.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/365fc0c9454cc3ac/RESAMPLE.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/2e077c5d6411418d/BUFFER.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/ipch/AutoPCH/1ec5abaab02710a2/MDF.ipch
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/Solution.VC.db-wal
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/Solution.VC.db-shm
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/Solution.VC.db
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/Browse.VC.db
dep/speexdsp_depre/win32/libspeexdsp/.vs/libspeexdsp/v15/.suo
dep/speexdsp_depre/win32/libspeexdsp.def
dep/speexdsp_depre/win32/VS2008/tests/testresample.vcproj
dep/speexdsp_depre/win32/VS2008/tests/testecho.vcproj
dep/speexdsp_depre/win32/VS2008/tests/testdenoise.vcproj
dep/speexdsp_depre/win32/VS2008/tests/Makefile.am
dep/speexdsp_depre/win32/VS2008/libspeexdsp/libspeexdsp.vcproj
dep/speexdsp_depre/win32/VS2008/libspeexdsp/Makefile.am
dep/speexdsp_depre/win32/VS2008/libspeexdsp.sln
dep/speexdsp_depre/win32/VS2008/Makefile.am
dep/speexdsp_depre/win32/VS2005/tests/testresample.vcproj
dep/speexdsp_depre/win32/VS2005/tests/testecho.vcproj
dep/speexdsp_depre/win32/VS2005/tests/testdenoise.vcproj
dep/speexdsp_depre/win32/VS2005/tests/Makefile.am
dep/speexdsp_depre/win32/VS2005/libspeexdsp/libspeexdsp.vcproj
dep/speexdsp_depre/win32/VS2005/libspeexdsp/Makefile.am
dep/speexdsp_depre/win32/VS2005/libspeexdsp.sln
dep/speexdsp_depre/win32/VS2005/Makefile.am
dep/speexdsp_depre/win32/VS2003/tests/testresample.vcproj
dep/speexdsp_depre/win32/VS2003/tests/testecho.vcproj
dep/speexdsp_depre/win32/VS2003/tests/testdenoise.vcproj
dep/speexdsp_depre/win32/VS2003/tests/Makefile.am
dep/speexdsp_depre/win32/VS2003/libspeexdsp/libspeexdsp.vcproj
dep/speexdsp_depre/win32/VS2003/libspeexdsp/Makefile.am
dep/speexdsp_depre/win32/VS2003/libspeexdsp.sln
dep/speexdsp_depre/win32/VS2003/Makefile.am
dep/speexdsp_depre/win32/Makefile.am
dep/speexdsp_depre/tmv/speex_config_types.h
dep/speexdsp_depre/tmv/profile_tm.h
dep/speexdsp_depre/tmv/preprocess_tm.h
dep/speexdsp_depre/tmv/misc_tm.h
dep/speexdsp_depre/tmv/mdf_tm.h
dep/speexdsp_depre/tmv/kiss_fftr_tm.h
dep/speexdsp_depre/tmv/kiss_fft_tm.h
dep/speexdsp_depre/tmv/fixed_tm.h
dep/speexdsp_depre/tmv/filterbank_tm.h
dep/speexdsp_depre/tmv/fftwrap_tm.h
dep/speexdsp_depre/tmv/_kiss_fft_guts_tm.h
dep/speexdsp_depre/ti/speex_C64_test/speex_C64_test.pjt
dep/speexdsp_depre/ti/speex_C64_test/speex_C64_test.cmd
dep/speexdsp_depre/ti/speex_C64_test/Makefile.am
dep/speexdsp_depre/ti/speex_C55_test/speex_C55_test.pjt
dep/speexdsp_depre/ti/speex_C55_test/speex_C55_test.cmd
dep/speexdsp_depre/ti/speex_C55_test/Makefile.am
dep/speexdsp_depre/ti/speex_C54_test/speex_C54_test.pjt
dep/speexdsp_depre/ti/speex_C54_test/speex_C54_test.cmd
dep/speexdsp_depre/ti/speex_C54_test/Makefile.am
dep/speexdsp_depre/ti/os_support_custom.h
dep/speexdsp_depre/ti/Makefile.am
dep/speexdsp_depre/symbian/speex.mmp
dep/speexdsp_depre/symbian/bld.inf
dep/speexdsp_depre/symbian/Makefile.am
dep/speexdsp_depre/speexdsp.pc.in
dep/speexdsp_depre/regressions
dep/speexdsp_depre/regression-fixes/1-resampler_unsigned_fix.patch
dep/speexdsp_depre/macosx/Speex_UB.xcodeproj/project.pbxproj
dep/speexdsp_depre/macosx/Speex_Prefix.pch
dep/speexdsp_depre/macosx/Speex.xcodeproj/project.pbxproj
dep/speexdsp_depre/macosx/Info.plist
dep/speexdsp_depre/macosx/English.lproj/InfoPlist.strings
dep/speexdsp_depre/m4/lt~obsolete.m4
dep/speexdsp_depre/m4/ltversion.m4
dep/speexdsp_depre/m4/ltsugar.m4
dep/speexdsp_depre/m4/ltoptions.m4
dep/speexdsp_depre/m4/libtool.m4
dep/speexdsp_depre/libspeex/vorbis_psy.h
dep/speexdsp_depre/libspeex/testresample.c
dep/speexdsp_depre/libspeex/testjitter.c
dep/speexdsp_depre/libspeex/testecho.c
dep/speexdsp_depre/libspeex/testdenoise.c
dep/speexdsp_depre/libspeex/stack_alloc.h
dep/speexdsp_depre/libspeex/smallft.h
dep/speexdsp_depre/libspeex/smallft.c
dep/speexdsp_depre/libspeex/scal.c
dep/speexdsp_depre/libspeex/resample_sse.h
dep/speexdsp_depre/libspeex/resample_neon.h
dep/speexdsp_depre/libspeex/resample.c
dep/speexdsp_depre/libspeex/pseudofloat.h
dep/speexdsp_depre/libspeex/preprocess.c
dep/speexdsp_depre/libspeex/os_support.h
dep/speexdsp_depre/libspeex/misc_bfin.h
dep/speexdsp_depre/libspeex/mdf.c
dep/speexdsp_depre/libspeex/math_approx.h
dep/speexdsp_depre/libspeex/kiss_fftr.h
dep/speexdsp_depre/libspeex/kiss_fftr.c
dep/speexdsp_depre/libspeex/kiss_fft.h
dep/speexdsp_depre/libspeex/kiss_fft.c
dep/speexdsp_depre/libspeex/jitter.c
dep/speexdsp_depre/libspeex/fixed_generic.h
dep/speexdsp_depre/libspeex/fixed_debug.h
dep/speexdsp_depre/libspeex/fixed_bfin.h
dep/speexdsp_depre/libspeex/fixed_arm5e.h
dep/speexdsp_depre/libspeex/fixed_arm4.h
dep/speexdsp_depre/libspeex/filterbank.h
dep/speexdsp_depre/libspeex/filterbank.c
dep/speexdsp_depre/libspeex/fftwrap.h
dep/speexdsp_depre/libspeex/fftwrap.c
dep/speexdsp_depre/libspeex/echo_diagnostic.m
dep/speexdsp_depre/libspeex/buffer.c
dep/speexdsp_depre/libspeex/bfin.h
dep/speexdsp_depre/libspeex/arch.h
dep/speexdsp_depre/libspeex/_kiss_fft_guts.h
dep/speexdsp_depre/libspeex/Makefile.am
dep/speexdsp_depre/libspeex/.cvsignore
dep/speexdsp_depre/lib/libspeexdsp.lib
dep/speexdsp_depre/include/speex/speexdsp_types.h
dep/speexdsp_depre/include/speex/speexdsp_config_types.h.in
dep/speexdsp_depre/include/speex/speex_resampler.h
dep/speexdsp_depre/include/speex/speex_preprocess.h
dep/speexdsp_depre/include/speex/speex_jitter.h
dep/speexdsp_depre/include/speex/speex_echo.h
dep/speexdsp_depre/include/speex/speex_buffer.h
dep/speexdsp_depre/include/speex/Makefile.am
dep/speexdsp_depre/include/Makefile.am
dep/speexdsp_depre/html/speex.xcf
dep/speexdsp_depre/html/speex.webprj
dep/speexdsp_depre/html/speex.png
dep/speexdsp_depre/doc/speex_analysis.odg
dep/speexdsp_depre/doc/speex_analysis.eps
dep/speexdsp_depre/doc/speex_abs.odg
dep/speexdsp_depre/doc/speex_abs.eps
dep/speexdsp_depre/doc/sampleenc.c
dep/speexdsp_depre/doc/sampledec.c
dep/speexdsp_depre/doc/ref_shaping.eps
dep/speexdsp_depre/doc/programming.html
dep/speexdsp_depre/doc/manual.pdf
dep/speexdsp_depre/doc/manual.lyx
dep/speexdsp_depre/doc/echo_path.odg
dep/speexdsp_depre/doc/echo_path.eps
dep/speexdsp_depre/doc/components.odg
dep/speexdsp_depre/doc/components.eps
dep/speexdsp_depre/doc/celp_decoder.odg
dep/speexdsp_depre/doc/celp_decoder.eps
dep/speexdsp_depre/doc/Makefile.am
dep/speexdsp_depre/doc/.cvsignore
dep/speexdsp_depre/configure.ac
dep/speexdsp_depre/autogen.sh
dep/speexdsp_depre/acinclude.m4
dep/speexdsp_depre/TODO
dep/speexdsp_depre/SpeexDSP.spec.in
dep/speexdsp_depre/SpeexDSP.kdevelop
dep/speexdsp_depre/README.win32
dep/speexdsp_depre/README.blackfin
dep/speexdsp_depre/README.Trimedia
dep/speexdsp_depre/README
dep/speexdsp_depre/NEWS
dep/speexdsp_depre/Makefile.am
dep/speexdsp_depre/INSTALL
dep/speexdsp_depre/Doxyfile
dep/speexdsp_depre/CmakeLists.txt
dep/speexdsp_depre/ChangeLog
dep/speexdsp_depre/COPYING
dep/speexdsp_depre/AUTHORS
dep/speexdsp_depre/.gitignore
dep/speexdsp_depre/.cvsignore
dep/speexdsp/lib/libspeexdsp.lib
dep/speexdsp/lib/libspeexdsp.exp
dep/speexdsp/lib/libspeex.lib
dep/speexdsp/lib/libspeex.exp
dep/speexdsp/include/speex/speex_types.h
dep/speexdsp/include/speex/speex_stereo.h
dep/speexdsp/include/speex/speex_header.h
dep/speexdsp/include/speex/speex_callbacks.h
dep/speexdsp/include/speex/speex_bits.h
dep/speexdsp/include/speex/speex.h
dep/speexdsp/bin/testresample.exe
dep/speexdsp/bin/testenc_wb.exe
dep/speexdsp/bin/testenc_uwb.exe
dep/speexdsp/bin/testenc.exe
dep/speexdsp/bin/testecho.exe
dep/speexdsp/bin/testdenoise.exe
dep/speexdsp/bin/speexenc.exe
dep/speexdsp/bin/speexdec.exe
dep/speexdsp/bin/libspeexdsp.dll
dep/speexdsp/bin/libspeex.dll
dep/speexdsp/bin/libogg.dll
dep/premake5.exe
dep/premake4.exe
dep/nanovg/src/GLFW/glfw3native.h
dep/nanovg/src/GLFW/glfw3.h
dep/nanovg/src/GL/wglew.h
dep/nanovg/src/GL/glxew.h
dep/nanovg/src/GL/glew.h
dep/libzip/zlib/zutil.h
dep/libzip/zlib/zutil.c
dep/libzip/zlib/zlib.h
dep/libzip/zlib/zip.h
dep/libzip/zlib/zip.c
dep/libzip/zlib/zconf.h
dep/libzip/zlib/unzip.h
dep/libzip/zlib/unzip.c
dep/libzip/zlib/uncompr.c
dep/libzip/zlib/trees.h
dep/libzip/zlib/trees.c
dep/libzip/zlib/ioapi.h
dep/libzip/zlib/ioapi.c
dep/libzip/zlib/inftrees.h
dep/libzip/zlib/inftrees.c
dep/libzip/zlib/inflate.h
dep/libzip/zlib/inflate.c
dep/libzip/zlib/inffixed.h
dep/libzip/zlib/inffast.h
dep/libzip/zlib/inffast.c
dep/libzip/zlib/infback.c
dep/libzip/zlib/gzwrite.c
dep/libzip/zlib/gzread.c
dep/libzip/zlib/gzlib.c
dep/libzip/zlib/gzguts.h
dep/libzip/zlib/gzclose.c
dep/libzip/zlib/deflate.h
dep/libzip/zlib/deflate.c
dep/libzip/zlib/crc32.h
dep/libzip/zlib/crc32.c
dep/libzip/zlib/compress.c
dep/libzip/zlib/adler32.c
dep/libzip/zlib/README
dep/libzip/zlib/CmakeLists.txt
dep/curl/tests/unit/unit1653.c
dep/curl/tests/unit/unit1652.c
dep/curl/tests/unit/unit1651.c
dep/curl/tests/unit/unit1650.c
dep/curl/tests/unit/unit1620.c
dep/curl/tests/unit/unit1609.c
dep/curl/tests/unit/unit1608.c
dep/curl/tests/libtest/lib658.c
dep/curl/tests/libtest/lib1560.c
dep/curl/tests/libtest/lib1557.c
dep/curl/tests/libtest/lib1522.c
dep/curl/tests/libtest/lib1518.c
dep/curl/tests/libtest/lib1156.c
dep/curl/tests/libtest/chkdecimalpoint.c
dep/curl/tests/data/test847
dep/curl/tests/data/test658
dep/curl/tests/data/test656
dep/curl/tests/data/test329
dep/curl/tests/data/test328
dep/curl/tests/data/test327
dep/curl/tests/data/test3001
dep/curl/tests/data/test3000
dep/curl/tests/data/test2100
dep/curl/tests/data/test2080
dep/curl/tests/data/test2076
dep/curl/tests/data/test2075
dep/curl/tests/data/test2074
dep/curl/tests/data/test1653
dep/curl/tests/data/test1652
dep/curl/tests/data/test1651
dep/curl/tests/data/test1650
dep/curl/tests/data/test1620
dep/curl/tests/data/test1609
dep/curl/tests/data/test1608
dep/curl/tests/data/test1590
dep/curl/tests/data/test1560
dep/curl/tests/data/test1557
dep/curl/tests/data/test1522
dep/curl/tests/data/test1519
dep/curl/tests/data/test1518
dep/curl/tests/data/test1457
dep/curl/tests/data/test1456
dep/curl/tests/data/test1455
dep/curl/tests/data/test1268
dep/curl/tests/data/test1267
dep/curl/tests/data/test1266
dep/curl/tests/data/test1164
dep/curl/tests/data/test1159
dep/curl/tests/data/test1158
dep/curl/tests/data/test1157
dep/curl/tests/data/test1156
dep/curl/tests/data/test1155
dep/curl/tests/certs/Server-localhost-lastSAN-sv.pub.pem
dep/curl/tests/certs/Server-localhost-lastSAN-sv.pub.der
dep/curl/tests/certs/Server-localhost-lastSAN-sv.pem
dep/curl/tests/certs/Server-localhost-lastSAN-sv.key
dep/curl/tests/certs/Server-localhost-lastSAN-sv.dhp
dep/curl/tests/certs/Server-localhost-lastSAN-sv.der
dep/curl/tests/certs/Server-localhost-lastSAN-sv.csr
dep/curl/tests/certs/Server-localhost-lastSAN-sv.crt
dep/curl/tests/certs/Server-localhost-lastSAN-sv.crl
dep/curl/tests/certs/Server-localhost-firstSAN-sv.pub.pem
dep/curl/tests/certs/Server-localhost-firstSAN-sv.pub.der
dep/curl/tests/certs/Server-localhost-firstSAN-sv.pem
dep/curl/tests/certs/Server-localhost-firstSAN-sv.key
dep/curl/tests/certs/Server-localhost-firstSAN-sv.dhp
dep/curl/tests/certs/Server-localhost-firstSAN-sv.der
dep/curl/tests/certs/Server-localhost-firstSAN-sv.csr
dep/curl/tests/certs/Server-localhost-firstSAN-sv.crt
dep/curl/tests/certs/Server-localhost-firstSAN-sv.crl
dep/curl/m4/ax_compile_check_sizeof.m4
dep/curl/lib/vtls/schannel_verify.c
dep/curl/lib/vtls/mesalink.h
dep/curl/lib/vtls/mesalink.c
dep/curl/lib/urlapi.c
dep/curl/lib/urlapi-int.h
dep/curl/lib/psl.h
dep/curl/lib/psl.c
dep/curl/lib/doh.h
dep/curl/lib/doh.c
dep/curl/include/curl/urlapi.h
dep/curl/docs/libcurl/opts/CURLOPT_UPLOAD_BUFFERSIZE.3
dep/curl/docs/libcurl/opts/CURLOPT_UPKEEP_INTERVAL_MS.3
dep/curl/docs/libcurl/opts/CURLOPT_TLS13_CIPHERS.3
dep/curl/docs/libcurl/opts/CURLOPT_PROXY_TLS13_CIPHERS.3
dep/curl/docs/libcurl/opts/CURLOPT_HAPROXYPROTOCOL.3
dep/curl/docs/libcurl/opts/CURLOPT_DOH_URL.3
dep/curl/docs/libcurl/opts/CURLOPT_DNS_SHUFFLE_ADDRESSES.3
dep/curl/docs/libcurl/opts/CURLOPT_DISALLOW_USERNAME_IN_URL.3
dep/curl/docs/libcurl/opts/CURLOPT_CURLU.3
dep/curl/docs/libcurl/opts/CURLINFO_TOTAL_TIME_T.3
dep/curl/docs/libcurl/opts/CURLINFO_STARTTRANSFER_TIME_T.3
dep/curl/docs/libcurl/opts/CURLINFO_REDIRECT_TIME_T.3
dep/curl/docs/libcurl/opts/CURLINFO_PRETRANSFER_TIME_T.3
dep/curl/docs/libcurl/opts/CURLINFO_NAMELOOKUP_TIME_T.3
dep/curl/docs/libcurl/opts/CURLINFO_CONNECT_TIME_T.3
dep/curl/docs/libcurl/opts/CURLINFO_APPCONNECT_TIME_T.3
dep/curl/docs/libcurl/libcurl-url.3
dep/curl/docs/libcurl/curl_url_set.3
dep/curl/docs/libcurl/curl_url_get.3
dep/curl/docs/libcurl/curl_url_dup.3
dep/curl/docs/libcurl/curl_url_cleanup.3
dep/curl/docs/libcurl/curl_url.3
dep/curl/docs/libcurl/curl_easy_upkeep.3
dep/curl/docs/examples/urlapi.c
dep/curl/docs/examples/persistent.c
dep/curl/docs/examples/parseurl.c
dep/curl/docs/examples/http2-pushinmemory.c
dep/curl/docs/examples/ephiperfifo.c
dep/curl/docs/examples/crawler.c
dep/curl/docs/cmdline-opts/tls13-ciphers.d
dep/curl/docs/cmdline-opts/styled-output.d
dep/curl/docs/cmdline-opts/proxy-tls13-ciphers.d
dep/curl/docs/cmdline-opts/haproxy-protocol.d
dep/curl/docs/cmdline-opts/doh-url.d
dep/curl/docs/cmdline-opts/disallow-username-in-url.d
dep/curl/docs/RELEASE-PROCEDURE.md
dep/curl/docs/GOVERNANCE.md
dep/curl/docs/DEPRECATE.md
dep/curl/CMake/curl-config.cmake.in
.gitattributes
plugins/Fundamental/res/BlankPanelMedium.svg
plugins/Fundamental/res/BlankPanelLarge.svg
plugins/Fundamental/res/ADSR.svg
plugins/Fundamental/res/8vert.svg
plugins/Fundamental/plugin.dll
plugins/Fundamental/LICENSE.txt
plugins/Fundamental/LICENSE-dist.txt
plugins/Fundamental.zip
plugin.dll
plugins/Fundamental/res/icons/noun_468341_cc.svg
plugins/Fundamental/res/icons/LICENSE.md
plugins/Fundamental/res/icon.png
plugins/Fundamental/res/fonts/Sudo.ttf
plugins/Fundamental/res/fonts/ShareTechMono-Regular.ttf
plugins/Fundamental/res/fonts/ShareTechMono-Regular-LICENSE.txt
plugins/Fundamental/res/fonts/OFL.txt
plugins/Fundamental/res/fonts/DejaVuSans.ttf
plugins/Fundamental/res/fonts/DejaVuSans-LICENSE.txt
plugins/Fundamental/res/XYPad.svg
plugins/Fundamental/res/WavHeadSmall.svg
plugins/Fundamental/res/WavHeadPanel.svg
plugins/Fundamental/res/VCO-2.svg
plugins/Fundamental/res/VCO-1.svg
plugins/Fundamental/res/VCMixer.svg
plugins/Fundamental/res/VCF.svg
plugins/Fundamental/res/VCA.svg
plugins/Fundamental/res/VCA-1.svg
plugins/Fundamental/res/UpButtonDown.svg
plugins/Fundamental/res/UpButton.svg
plugins/Fundamental/res/Unity.svg
plugins/Fundamental/res/TinyWhiteKnob.svg
plugins/Fundamental/res/TinyPJ301M_yellow.svg
plugins/Fundamental/res/TinyPJ301M_white.svg
plugins/Fundamental/res/TinyPJ301M_purple.svg
plugins/Fundamental/res/RepButtonDown.svg
plugins/Fundamental/res/RepButton.svg
plugins/Fundamental/res/Octave.svg
plugins/Fundamental/res/NoteSeq.svg
plugins/Fundamental/res/Mutes.svg
plugins/Fundamental/res/MinMax.svg
plugins/Fundamental/res/LeftButtonDown.svg
plugins/Fundamental/res/LeftButton.svg
plugins/Fundamental/res/LFO-2.svg
plugins/Fundamental/res/LFO-1.svg
plugins/Fundamental/res/Hairball.svg
plugins/Fundamental/res/GridSeq.svg
plugins/Fundamental/res/DownButtonDown.svg
plugins/Fundamental/res/DownButton.svg
plugins/Fundamental/res/Delay.svg
plugins/Fundamental/res/DejaVuSansMono.ttf
plugins/Fundamental/res/DejaVu-LICENSE.txt
plugins/Fundamental/res/Core/QuadMIDIToCVInterface.svg
plugins/Fundamental/res/Core/Notes.svg
plugins/Fundamental/res/Core/MIDITriggerToCVInterface.svg
plugins/Fundamental/res/Core/MIDIToCVInterface.svg
plugins/Fundamental/res/Core/MIDICCToCVInterface.svg
plugins/Fundamental/res/Core/LICENSE.txt
plugins/Fundamental/res/Core/AudioInterface.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PSWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PSRed.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PSGreen.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PSBlue.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PRed.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PGreen.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2PBlue.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PSWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PSRed.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PSGreen.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PSBlue.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PRed.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PGreen.svg
plugins/Fundamental/res/ComponentLibrary/Rogan1PBlue.svg
plugins/Fundamental/res/ComponentLibrary/CKSS_1.svg
plugins/Fundamental/res/ComponentLibrary/CKSS_0.svg
plugins/Fundamental/res/ComponentLibrary/CKSSThree_2.svg
plugins/Fundamental/res/ComponentLibrary/CKSSThree_1.svg
plugins/Fundamental/res/ComponentLibrary/CKSSThree_0.svg
plugins/Fundamental/res/ComponentLibrary/CKD6_1.svg
plugins/Fundamental/res/ComponentLibrary/CKD6_0.svg
plugins/Fundamental/res/ComponentLibrary/BefacoTinyKnob.svg
plugins/Fundamental/res/ComponentLibrary/BefacoSwitch_2.svg
plugins/Fundamental/res/ComponentLibrary/BefacoSwitch_1.svg
plugins/Fundamental/res/ComponentLibrary/BefacoSwitch_0.svg
plugins/Fundamental/res/ComponentLibrary/BefacoSwitch.svg
plugins/Fundamental/res/ComponentLibrary/BefacoSlidePotHandle.svg
plugins/Fundamental/res/ComponentLibrary/BefacoSlidePot.svg
plugins/Fundamental/res/ComponentLibrary/BefacoPush_1.svg
plugins/Fundamental/res/ComponentLibrary/BefacoPush_0.svg
plugins/Fundamental/res/ComponentLibrary/BefacoBigKnob.svg
plugins/Fundamental/res/ComponentLibrary/ADAT.svg
plugins/Fundamental/res/Cat.svg
plugins/Fundamental/res/CDM.svg
plugins/Fundamental/res/Bowl-no-food.svg
plugins/Fundamental/res/Bowl-food.svg
plugins/Fundamental/res/BouncyBalls.svg
plugins/Fundamental/res/BlankPanelSmall.svg
plugins/Fundamental/res/icons/noun_31859_cc.svg
plugins/Fundamental/res/icons/noun_305536_cc.svg
plugins/Fundamental/res/icons/noun_1745061_cc.svg
plugins/Fundamental/res/icons/noun_146097_cc.svg
plugins/Fundamental/res/icons/noun_1343816_cc.svg
plugins/Fundamental/res/icons/noun_1343811_cc.svg
plugins/Fundamental/res/icons/noun_1240789_cc.svg
plugins/Fundamental/res/icons/noun_1084369_cc.svg
plugins/Fundamental/res/TinyPJ301M_orange.svg
plugins/Fundamental/res/TinyPJ301M_blue.svg
plugins/Fundamental/res/TinyPJ301M.svg
plugins/Fundamental/res/TinyButtonUp.svg
plugins/Fundamental/res/TinyButtonDown.svg
plugins/Fundamental/res/ThingThing.svg
plugins/Fundamental/res/Switch_Vertical_1.svg
plugins/Fundamental/res/Switch_Vertical_0.svg
plugins/Fundamental/res/Switch_Horizontal_1.svg
plugins/Fundamental/res/Switch_Horizontal_0.svg
plugins/Fundamental/res/SnowFlake.svg
plugins/Fundamental/res/SmallWhiteKnob.svg
plugins/Fundamental/res/SmallButtonUp.svg
plugins/Fundamental/res/SmallButtonDown.svg
plugins/Fundamental/res/SequentialSwitch2.svg
plugins/Fundamental/res/SequentialSwitch1.svg
plugins/Fundamental/res/Screw_W.svg
plugins/Fundamental/res/Screw_J.svg
plugins/Fundamental/res/Scope.svg
plugins/Fundamental/res/SEQ3.svg
plugins/Fundamental/res/RndButtonDown.svg
plugins/Fundamental/res/RndButton.svg
plugins/Fundamental/res/RightButtonDown.svg
plugins/Fundamental/res/RightButton.svg
plugins/Fundamental/res/ComponentLibrary/USB-B.svg
plugins/Fundamental/res/ComponentLibrary/Trimpot.svg
plugins/Fundamental/res/ComponentLibrary/TL1105_1.svg
plugins/Fundamental/res/ComponentLibrary/TL1105_0.svg
plugins/Fundamental/res/ComponentLibrary/TL1105.svg
plugins/Fundamental/res/ComponentLibrary/SynthTechAlco_cap.svg
plugins/Fundamental/res/ComponentLibrary/SynthTechAlco.svg
plugins/Fundamental/res/ComponentLibrary/ScrewSilver.svg
plugins/Fundamental/res/ComponentLibrary/ScrewBlack.svg
plugins/Fundamental/res/ComponentLibrary/RoundSmallBlackKnob.svg
plugins/Fundamental/res/ComponentLibrary/RoundLargeBlackKnob.svg
plugins/Fundamental/res/ComponentLibrary/RoundHugeBlackKnob.svg
plugins/Fundamental/res/ComponentLibrary/RoundBlackKnob.svg
plugins/Fundamental/res/ComponentLibrary/Rogan6PSWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan5PSGray.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PSWhite.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PSRed.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PSGreen.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PSBlue.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PRed.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PGreen.svg
plugins/Fundamental/res/ComponentLibrary/Rogan3PBlue.svg
plugins/Fundamental/res/ComponentLibrary/Rogan2SGray.svg
plugins/Fundamental/res/ComponentLibrary/PJ3410.svg
plugins/Fundamental/res/ComponentLibrary/PJ301M.svg
plugins/Fundamental/res/ComponentLibrary/PB61303.svg
plugins/Fundamental/res/ComponentLibrary/NKK_2.svg
plugins/Fundamental/res/ComponentLibrary/NKK_1.svg
plugins/Fundamental/res/ComponentLibrary/NKK_0.svg
plugins/Fundamental/res/ComponentLibrary/NKK.svg
plugins/Fundamental/res/ComponentLibrary/MIDI_DIN.svg
plugins/Fundamental/res/ComponentLibrary/LICENSE.txt
plugins/Fundamental/res/ComponentLibrary/LEDSliderYellowHandle.svg
plugins/Fundamental/res/ComponentLibrary/LEDSliderWhiteHandle.svg
plugins/Fundamental/res/ComponentLibrary/LEDSliderRedHandle.svg
plugins/Fundamental/res/ComponentLibrary/LEDSliderGreenHandle.svg
plugins/Fundamental/res/ComponentLibrary/LEDSliderBlueHandle.svg
plugins/Fundamental/res/ComponentLibrary/LEDSlider.svg
plugins/Fundamental/res/ComponentLibrary/LEDButton.svg
plugins/Fundamental/res/ComponentLibrary/LEDBezel.svg
plugins/Fundamental/res/ComponentLibrary/Davies1900hWhite.svg
plugins/Fundamental/res/ComponentLibrary/Davies1900hRed.svg
plugins/Fundamental/res/ComponentLibrary/Davies1900hLargeWhite.svg
plugins/Fundamental/res/ComponentLibrary/Davies1900hLargeRed.svg
plugins/Fundamental/res/ComponentLibrary/Davies1900hLargeBlack.svg
plugins/Fundamental/res/ComponentLibrary/Davies1900hBlack.svg
plugins/Fundamental/res/ComponentLibrary/CL1362.svg
